.banner {
  background-color: $c-gray-lighter;
  height: 430px;

  &__item {
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}