.button {
  background-color: $c-red;
  border: 0;
  color: $c-white;
  display: inline-block;
  font-size: 14px;
  font-weight: fw("bold");
  letter-spacing: 4px;
  padding: 8px 15px;
  text-transform: uppercase;
  transition: $dt;

  &:hover {
    background-color: darken($c-red, 8%);
    color: $c-white;
    text-decoration: none;
  }

  &--arrow {
    padding: 8px 30px 8px 15px;

    &::after {
      border-color: transparent transparent transparent #ffffff;
      border-style: solid;
      border-width: 5px 0 5px 10px;
      content: "";
      display: inline-block;
      height: 0;
      left: 15px;
      position: relative;
      width: 0;
    }
  }

  &--large {
    padding: 13px 40px 13px 25px;
  }

  &--huge {
    align-items: center;
    display: flex;
    font-size: 18px;
    margin-left: auto;
    padding: 25px;
    justify-content: center;
    width: 100%;

    @include media(">=desktop") {
      justify-content: left;
      width: 50%;
    }
  }

  
}