// general
$c-white:       #ffffff;
$c-black:       #000000;

// Gray
$c-gray-light:  #ebebeb;
$c-gray:        #4a4748;
$c-gray-dark:   #363636;
$c-gray-darker: #252525;

// Red
$c-red:         #cc1c22;

// Blue
$c-blue:        #112c44;