// general
$c-white:       #ffffff;
$c-black:       #000000;

// Gray
$c-gray-lighter:  #ebebeb;
$c-gray-light:    #B7B7B7;
$c-gray:          #4a4748;
$c-gray-dark:     #363636;
$c-gray-darker:   #252525;

// Red
$c-red:         #cc1c22;

// Blue
$c-blue:        #112c44;

// Green
$c-green:       #5da368;